.container {
  margin: 0 auto;
  max-width: 768px;
  padding: 0 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper .content {
  flex: 1 0 auto;
}
.wrapper .footer {
  flex: 0 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 768px;
  padding: 0 12px;
}
.main .content {
  flex: 1 0 auto;
}
.main .footer {
  flex: 0 0 auto;
}

.main-auth {
  display: flex;
  flex-direction: column;
}

.navbar-top-row-scrolled {
  display: none;
}

.navbar__more-btn button {
  border: 0;
  background: white;
}
.navbar__search form input {
  width: 100%;
  font-size: 12px;
  padding: 5px 5px 5px 20px;
  border: 1px solid #888;
  border-radius: 12px;
}

.main-header {
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  z-index: 1000;
  background-color: #fff;
  transition: 0.4s ease-out;
}
.main-header .logo {
  width: 220px;
}
.main-header .logo img {
  width: 88%;
}
.main-header .navbar_links {
  display: flex;
  list-style: none;
  margin-right: 50px;
  letter-spacing: 1px;
}
.main-header .navbar_links .navbar_link {
  transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.main-header .navbar_links .navbar_link:nth-of-type(2) {
  transition-delay: 0.1s;
}
.main-header .navbar_links .navbar_link:nth-of-type(3) {
  transition-delay: 0.2s;
}
.main-header .navbar_links .navbar_link:nth-of-type(4) {
  transition-delay: 0.3s;
}
.main-header .navbar_links .navbar_link a {
  margin: 3px 10px 3px 3px;
  padding: 16px 8px;
}
.main-header .navbar_links .navbar_link a:hover {
  background: rgba(255, 255, 255, 0.2);
}
.main-header .menu-icon {
  position: relative;
  padding: 26px 10px;
  cursor: pointer;
  z-index: 1;
  display: none;
}
.main-header .menu-icon__line {
  display: block;
  position: relative;
  background: #000;
  height: 2px;
  width: 20px;
  border-radius: 4px;
  transition: background 0.8s ease;
}
.main-header .menu-icon__line::before, .main-header .menu-icon__line::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: #000;
  transition: background 0.8s ease;
}
.main-header .menu-icon__line::before {
  transform: translateY(-5px);
}
.main-header .menu-icon__line::after {
  transform: translateY(5px);
}
.main-header .menu-btn {
  display: none;
}
.main-headerscrolled {
  background: #fff;
  color: white;
}
.main-headerscrolled .menu-icon__line, .main-headerscrolled .menu-icon__line::before, .main-headerscrolled .menu-icon__line::after {
  background: white;
}

.product-card-link:hover {
  color: #222;
}
.product-card-link:hover h4 {
  color: #1470cc;
}

.product-card {
  border-bottom: 1px solid #e6ecf2;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.product-card__logo {
  margin-right: 10px;
  width: 30%;
  display: flex;
  justify-content: center;
}
.product-card__logo img {
  width: 100%;
  height: 120px;
  padding: 5px;
  object-fit: scale-down;
}
.product-card__info {
  width: 70%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}
.product-card__response {
  margin-bottom: 10px;
}
.product-card__response h4 {
  font-size: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.product-card__location {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.product-card__location p {
  margin-right: 30px;
  font-size: 14px;
  font-weight: 600;
  color: #888;
}
.product-card__location span {
  font-size: 14px;
  color: #888;
  font-weight: 500;
}
.product-card__location span i {
  margin-right: 5px;
  color: #555;
}

#countries {
  margin: 0;
}

.mainproducts {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 19px;
}

.search__block-center-content {
  background-color: #fff;
}
.search__block-center .sbc-found p {
  font-size: 16px;
  color: #555;
}
.search__block-center .sbc-found p span {
  font-weight: 600;
  color: #222;
  padding: 5px;
}

.search__block-rightbar {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.leadspage-title {
  background-color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.leadspage-title h2 {
  font-size: 20px;
  color: #222;
}
.leadspage-title a {
  font-size: 14px;
  padding: 7px 14px;
  background-color: #5cb85c;
  color: #fff;
}

.leadscard {
  background-color: #fff;
  margin-top: 10px;
}
.leadscard__item {
  border-bottom: 1px solid #e6ecf2;
}
.leadscard__content {
  padding: 15px;
}
.leadscard__content:hover {
  background-color: rgba(230, 236, 242, 0.5);
}
.leadscard__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 5px 0;
}
.leadscard__title a {
  display: flex;
  align-items: center;
  color: #1470cc;
}
.leadscard__title img {
  object-fit: none;
}
.leadscard__text {
  margin: 8px 0;
}
.leadscard__text p {
  font-size: 13px;
  color: #555;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.leadscard__keys p {
  font-size: 13px;
  color: #1470cc;
}
.leadscard__keys p a {
  font-size: 13px;
  color: #1470cc;
}
.leadscard__keys p a:hover {
  text-decoration: underline;
}
.leadscard__info {
  margin-top: 8px;
}
.leadscard__info ul {
  display: flex;
  flex-direction: row;
}
.leadscard__info ul li {
  margin-right: 10px;
  font-size: 13px;
}

.lead, .lead-last, .lead-rules {
  background-color: #fff;
  margin-top: 10px;
  font-weight: normal;
}
.lead h5, .lead-last h5, .lead-rules h5 {
  font-size: 18px;
  color: #222;
}

.lead hr {
  color: #888;
}
.lead__detail {
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.lead__type {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  align-self: center;
}
.lead__type h5 {
  line-height: 25px;
}
.lead__name {
  padding: 10px 0 0 5px;
}
.lead__name-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.lead__name-text h5 {
  font-size: 17px;
  font-weight: normal;
  color: #ed151d;
}
.lead__name-text img {
  object-fit: none;
}
.lead__name-info {
  padding-top: 5px;
}
.lead__name-info ul {
  display: flex;
  flex-direction: row;
}
.lead__name-info ul li {
  margin-right: 13px;
  color: #222;
}
.lead__name-info ul li i {
  font-size: 15px;
}
.lead__name-info ul li span {
  font-weight: 500;
  font-size: 12px;
}
.lead__text h5 {
  margin-bottom: 10px;
}
.lead__text p {
  padding-left: 5px;
  font-size: 14px;
  color: #555;
}
.lead__contact h5 {
  margin-bottom: 10px;
}
.lead__contact ul {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}
.lead__contact ul li {
  margin-right: 50px;
  margin-bottom: 10px;
}
.lead__contact ul li a {
  font-size: 15px;
  color: #222;
  font-weight: 400;
}
.lead__contact ul li a:hover {
  color: #1470cc;
  text-decoration: underline;
}
.lead__contact ul li a i {
  font-size: 18px;
  margin-right: 5px;
}
.lead__photos h5 {
  margin-bottom: 10px;
}
.lead__keys h3 {
  margin-bottom: 10px;
}
.lead__keys ul {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
}
.lead__keys ul li a {
  font-size: 14px;
  color: #ed151d;
}
.lead__keys ul li a:hover {
  text-decoration: underline;
}
.lead__keys ul li span {
  font-size: 16px;
  color: #888;
}
.lead__sectors h5 {
  margin-bottom: 10px;
}
.lead__other h5 {
  margin-bottom: 10px;
}
.lead__other ul {
  padding-left: 5px;
}
.lead__other ul li {
  padding: 3px 0;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.lead__other ul li i {
  font-size: 6px;
  padding-right: 7px;
  color: #222;
}
.lead__other ul li a {
  color: #222;
}
.lead__other ul li a:hover {
  color: #ed151d;
  text-decoration: underline;
}

.lead-last__title {
  padding: 20px 15px 10px 20px;
}
.lead-last__title h3 {
  color: #555;
}
.lead-last__choose {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #eeeeee;
}
.lead-last__choose input[type=radio] {
  display: none;
}
.lead-last__choose input[type=radio]:checked + label + .lead-last__tab {
  display: block;
}
.lead-last__choose input[type=radio]:checked + label {
  background: #fff;
  border: 1px solid #e6ecf2;
  border-bottom: 1px solid #ed151d;
}
.lead-last__choose label {
  padding: 10px 10px;
  background: #fff;
  font-weight: 500;
  color: #222;
  cursor: pointer;
}
.lead-last__choose .lead-last__tab {
  border-top: 1px solid #eeeeee;
  width: 100%;
  background: #fff;
  order: 1;
  display: none;
}
.lead-last__item {
  border-bottom: 1px solid #e6ecf2;
  max-height: 48px;
}
.lead-last__item:hover {
  background-color: rgba(230, 236, 242, 0.5);
}
.lead-last__item a {
  font-size: 14px;
  line-height: 18px;
  display: inline;
  width: 100%;
  max-height: 48px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  box-sizing: border-box;
  padding: 10px 15px;
}
.lead-last__item a:hover {
  text-decoration: underline;
  color: #ed151d;
}
.lead-last .lead-last-buy a {
  color: #1470cc;
}
.lead-last .lead-last-sell a {
  color: #ed151d;
}

.lead-add {
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: normal;
}
.lead-add .form-wizard {
  background-color: #fff;
  color: #555;
  padding: 30px;
}
.lead-add .form-wizard .wizard-form-radio {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
.lead-add .form-wizard .wizard-form-radio input[type=radio] {
  -webkit-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #dddddd;
  height: 25px;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.lead-add .form-wizard .wizard-form-radio input[type=radio]:focus {
  outline: 0;
}
.lead-add .form-wizard .wizard-form-radio input[type=radio]:checked {
  background-color: #fdd001;
}
.lead-add .form-wizard .wizard-form-radio input[type=radio]:checked::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  left: 1px;
  right: 0;
  margin: 0 auto;
  top: 8px;
}
.lead-add .form-wizard .wizard-form-radio input[type=radio] ~ label {
  cursor: pointer;
}
.lead-add .form-wizard .form-wizard-header {
  text-align: center;
}
.lead-add .form-wizard .form-wizard-next-btn, .lead-add .form-wizard .form-wizard-previous-btn, .lead-add .form-wizard .form-wizard-submit {
  background-color: #fdd001;
  color: #ffffff;
  display: inline-block;
  min-width: 100px;
  min-width: 120px;
  padding: 10px;
  text-align: center;
}
.lead-add .form-wizard .form-wizard-next-btn:hover, .lead-add .form-wizard .form-wizard-next-btn:focus, .lead-add .form-wizard .form-wizard-previous-btn:hover, .lead-add .form-wizard .form-wizard-previous-btn:focus, .lead-add .form-wizard .form-wizard-submit:hover, .lead-add .form-wizard .form-wizard-submit:focus {
  color: #ffffff;
  opacity: 0.6;
  text-decoration: none;
}
.lead-add .form-wizard .wizard-fieldset {
  display: none;
}
.lead-add .form-wizard .wizard-fieldset.show {
  display: block;
}
.lead-add .form-wizard .wizard-form-error {
  display: none;
  background-color: #ed151d;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.lead-add .form-wizard .form-wizard-previous-btn {
  background-color: #ed151d;
}
.lead-add .form-wizard .form-control {
  font-weight: 400;
  padding: 6px 12px;
  color: #222;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 0;
}
.lead-add .form-wizard .form-control:focus {
  box-shadow: none;
}
.lead-add .form-wizard .form-group {
  position: relative;
  margin: 20px 0;
}
.lead-add .form-wizard .wizard-form-text-label {
  position: absolute;
  left: 10px;
  top: 10px;
  transition: 0.2s linear all;
}
.lead-add .form-wizard .focus-input .wizard-form-text-label {
  color: #ed151d;
  top: -15px;
  transition: 0.2s linear all;
  font-size: 12px;
}
.lead-add .form-wizard .form-wizard-steps {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}
.lead-add .form-wizard .form-wizard-steps li {
  width: 25%;
  float: left;
  position: relative;
  font-weight: normal;
}
.lead-add .form-wizard .form-wizard-steps li::after {
  background-color: #f3f3f3;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}
.lead-add .form-wizard .form-wizard-steps li span {
  background-color: #dddddd;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
  width: 40px;
  z-index: 1;
}
.lead-add .form-wizard .form-wizard-steps li:last-child::after {
  width: 50%;
}
.lead-add .form-wizard .form-wizard-steps li.active span, .lead-add .form-wizard .form-wizard-steps li.activated span {
  background-color: #fdd001;
  color: #000;
  font-weight: 500;
}
.lead-add .form-wizard .form-wizard-steps li.active::after, .lead-add .form-wizard .form-wizard-steps li.activated::after {
  background-color: #fdd001;
  left: 50%;
  width: 50%;
  border-color: #fdd001;
}
.lead-add .form-wizard .form-wizard-steps li.activated::after {
  width: 100%;
  border-color: #fdd001;
}
.lead-add .form-wizard .form-wizard-steps li:last-child::after {
  left: 0;
}
.lead-add .form-wizard .wizard-password-eye {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.lead-add .wizard-fieldset__done-text {
  background-color: #e0f0d6;
  padding: 25px;
  color: #555;
}
.lead-add #inputGroupFile02 {
  border: 1px solid #dbdbdb;
  background-color: #fff;
  padding: 6px 12px;
}
.lead-add .input-group-text {
  padding: 6px 12px;
  background: #dbdbdb;
}

.lead-rules__title {
  padding: 20px 15px 10px 20px;
  border-bottom: 2px solid #dbdbdb;
}
.lead-rules__content {
  padding: 10px 25px 25px 25px;
}
.lead-rules__content ul li {
  padding-top: 10px;
  color: #555;
}
.lead-rules__content ul li strong {
  margin-right: 5px;
}
.lead-rules__content ul li a {
  color: #ed151d;
}
.lead-rules__content ul li a:hover {
  text-decoration: underline;
}

@keyframes click-radio-wave {
  0% {
    width: 25px;
    height: 25px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    width: 60px;
    height: 60px;
    margin-left: -15px;
    margin-top: -15px;
    opacity: 0;
  }
}
@media screen and (max-width: 767px) {
  .wizard-content-left {
    height: auto;
  }
}
.marquee-js__wrapper {
  width: 100000px;
  margin-left: -99%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  overflow: hidden;
}
.marquee-js__wrapper a {
  background: #dedede;
  margin: 0 5px;
  padding: 5px 20px;
  color: #555;
  font-size: 15px;
}
.marquee-js__wrapper a:hover {
  color: #222;
  background-color: #fff;
}
.marquee-js__wrapper a span {
  margin-left: 8px;
  color: #05285e;
  font-weight: 700;
}

.main__block {
  margin: 10px 0 0 0;
}

.leftbar {
  padding: 20px 0 0 20px;
  position: relative;
}
.leftbar__content {
  width: 100%;
  cursor: pointer;
}
.leftbar__content h6 {
  color: #222;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 0;
  padding: 0 2px;
}
.leftbar__list {
  padding-top: 20px;
  width: 100%;
}
.leftbar__item {
  transition: all 0.3s ease;
  padding: 5px 15px 5px 0;
}
.leftbar__item:hover {
  background-color: rgba(230, 236, 242, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.2);
}
.leftbar__item:hover:hover .leftbar__item-content a {
  padding-left: 10px;
}
.leftbar__item .leftbar__item-content {
  padding: 3px 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftbar__item .leftbar__item-content a {
  color: #555;
  font-weight: 400;
  font-size: 14px;
  transition: all 0.3s ease;
}
.leftbar__item .leftbar__item-content span {
  background-color: #EBECF0;
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 12px;
}
.leftbar__item:hover .leftbar__dropdown-list {
  display: initial;
}
.leftbar__item .leftbar__dropdown-list {
  position: absolute;
  left: 100%;
  width: 300px;
  min-height: 100%;
  top: 0;
  display: none;
  background-color: #fff;
  border: 1px solid #e6ecf2;
  border-top: none;
  z-index: 100;
}
.leftbar__item #more__dropdown-list {
  background-color: #fff;
  color: #555;
  width: 300px;
}
.leftbar__item #more__dropdown-item {
  margin-left: 10px;
}
.leftbar__item #more__dropdown-item:hover #more__dropdown-link {
  color: #222;
}
.leftbar__item #more__dropdown-item:hover {
  background-color: rgba(230, 236, 242, 0.5);
}
.leftbar__item #more__dropdown-link {
  color: #555;
}
.leftbar__item .more__dropdown-sub {
  color: #555;
}
.leftbar__item .leftbar__dropdown-item {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftbar__item .leftbar__dropdown-item:hover {
  background-color: rgba(230, 236, 242, 0.5);
}
.leftbar__item .leftbar__dropdown-item a {
  padding: 10px 0;
  width: 100%;
  color: #555;
}
.leftbar__item .leftbar__dropdown-item span {
  font-size: 12px;
  cursor: pointer;
  color: #555;
  background-color: #EBECF0;
  padding: 2px 10px;
  border-radius: 12px;
}
.leftbar__item #more__item-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftbar #more-categories {
  padding: 10px 10px;
}

.leftbar__dropdown-item:hover .leftbar__dropdown-more-list {
  display: initial;
}
.leftbar__dropdown-item .leftbar__dropdown-more-list {
  position: absolute;
  left: 100%;
  width: 300px;
  min-height: 100%;
  border: 1px solid #e6ecf2;
  top: 0;
  display: none;
  background-color: #fff;
  border-top: none;
  z-index: 100;
}
.leftbar__dropdown-item .leftbar__dropdown-more-item {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftbar__dropdown-item .leftbar__dropdown-more-item a {
  padding: 10px 0;
  width: 100%;
  color: #555;
}
.leftbar__dropdown-item .leftbar__dropdown-more-item:hover {
  background-color: rgba(230, 236, 242, 0.5);
}
.leftbar__dropdown-item .leftbar__dropdown-more-item span {
  cursor: pointer;
  color: #555;
}

.featured__companines-block {
  margin: 20px 0;
}

.second_block {
  height: 1000px;
}

.company-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 280px;
}
.company-info__content {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.company-info__logo {
  display: flex;
  justify-content: center;
  width: 30%;
}
.company-info__logo img {
  object-fit: scale-down;
  padding: 5px 10px;
}
.company-info__info {
  width: 70%;
  margin-left: 10px;
  padding-right: 10px;
}
.company-info__info h4 {
  margin-bottom: 5px;
  font-weight: 700;
  letter-spacing: 1px;
}
.company-info__info p {
  margin-bottom: 15px;
  color: #222;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
}
.company-info__info p i {
  color: #ed151d;
  font-size: 25px;
  margin-right: 10px;
}
.company-info__links {
  display: flex;
  flex-direction: row;
}
.company-info__links ul li {
  margin-bottom: 10px;
  display: flex;
}
.company-info__links ul li a {
  font-size: 14px;
  font-weight: 500;
}
.company-info__links ul li a:hover {
  text-decoration: underline;
}
.company-info__links ul li a i {
  font-size: 20px;
  margin-right: 10px;
}
.company-info__links-phones {
  margin-right: 70px;
}
.company-info__main {
  width: 40%;
  overflow: hidden;
}
.company-info__main img {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: top;
}

.company-detail-col {
  background-color: #EBECF0;
}

.company-detail {
  padding: 20px 0;
  margin-top: 10px;
  background-color: #fff;
}
.company-detail__about, .company-detail__products, .company-detail__brochure, .company-detail__categories, .company-detail__business-segment, .company-detail__map, .company-detail__gallery {
  padding: 0 20px;
  margin-bottom: 20px;
}
.company-detail__about h5, .company-detail__products h5, .company-detail__brochure h5, .company-detail__categories h5, .company-detail__business-segment h5, .company-detail__map h5, .company-detail__gallery h5 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
}
.company-detail__products ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.company-detail__products ul li {
  display: flex;
  padding-top: 7px;
  align-items: center;
}
.company-detail__products ul li i {
  font-size: 6px;
  margin-right: 10px;
}
.company-detail__brochure a {
  padding-left: 10px;
  display: flex;
  font-size: 16px;
  align-items: center;
}
.company-detail__brochure a i {
  font-size: 20px;
  margin-right: 5px;
}
.company-detail__filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.company-detail__categories {
  width: 50%;
}
.company-detail__business-segment {
  width: 50%;
}
.company-detail__map {
  width: 100%;
  height: 200px;
}
.company-detail__map #map {
  width: 100%;
  height: 100%;
}
.company-detail-banner-col {
  padding: 0 12px 0 5px;
  background-color: #EBECF0;
}
.company-detail-banner-col .company-detail__banner {
  margin-top: 10px;
  background-color: #fff;
}
.company-detail-banner-col .company-detail__banner img {
  width: 100%;
}

.content-block {
  margin-top: 10px;
  background-color: #fff;
}

.scroll-margin {
  margin: 10px 0 0 0;
}

.countries, .categories, .business-segment {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.countries__title, .categories__title, .business-segment__title {
  height: 50px;
  border-bottom: 1px solid #e6ecf2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.countries__title h6, .categories__title h6, .business-segment__title h6 {
  font-size: 18px;
  font-weight: 600;
}
.countries__title a, .categories__title a, .business-segment__title a {
  display: flex;
  align-items: center;
}
.countries__title a span, .categories__title a span, .business-segment__title a span {
  color: #222;
  padding: 0 10px 0 20px;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.countries__title a i, .categories__title a i, .business-segment__title a i {
  color: #ed151d;
  font-size: 16px;
}
.countries__search input, .categories__search input, .business-segment__search input {
  font-size: 14px;
  border: 1px solid #dae0e6;
  width: 90%;
  padding: 7px;
  margin: 10px;
  outline: none;
}
.countries__search input:focus, .categories__search input:focus, .business-segment__search input:focus {
  border: 1px solid #ed151d;
}
.countries__item:hover, .categories__item:hover, .business-segment__item:hover {
  background-color: rgba(230, 236, 242, 0.5);
}
.countries__item a, .categories__item a, .business-segment__item a {
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
}
.countries__item a span, .categories__item a span, .business-segment__item a span {
  color: #222;
  font-size: 12px;
  padding: 2px 10px;
  background-color: #EBECF0;
  border-radius: 12px;
  height: 10%;
}

.new-notification {
  color: #fff;
  font-size: 10px;
  padding: 1px 7px;
  background-color: #ed151d;
  border-radius: 12px;
  margin-right: 5px;
}

#leads-category-filter {
  padding: 5px 15px;
}

.categories-filter {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.categories-filter__title {
  height: 50px;
  border-bottom: 1px solid #e6ecf2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.categories-filter__title h6 {
  font-size: 18px;
  font-weight: 600;
}
.categories-filter__title a {
  display: flex;
  align-items: center;
}
.categories-filter__title a span {
  color: #222;
  padding: 0 10px 0 20px;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.categories-filter__title a i {
  color: #ed151d;
  font-size: 16px;
}
.categories-filter__home a, .categories-filter__sub a {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.categories-filter__home a span, .categories-filter__sub a span {
  color: #222;
  font-size: 12px;
  padding: 2px 10px;
  background-color: #EBECF0;
  border-radius: 12px;
}
.categories-filter__home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.categories-filter__home:hover {
  background-color: rgba(230, 236, 242, 0.5);
}
.categories-filter__home:hover .categories-filter-btn-more {
  background-color: rgba(230, 236, 242, 0.5);
}
.categories-filter__home span {
  height: 20px;
}
.categories-filter__home a {
  padding: 5px 15px 5px 0;
}
.categories-filter__sub span {
  height: 20%;
}
.categories-filter__sub a {
  padding: 5px 15px 5px 35px;
}
.categories-filter__sub a:hover {
  background-color: rgba(230, 236, 242, 0.5);
}

.search-page-filter {
  background-color: #fff;
}

.categories-filter__item-more {
  display: none;
}

.categories-filter-btn-more {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: #fff;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  color: #1470cc;
}

.company-card {
  padding: 20px 0;
  margin: 0 20px;
  border-bottom: 1px solid #e6ecf2;
}
.company-card__name {
  margin-bottom: 5px;
}
.company-card__name h4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
}
.company-card__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.company-card__logo {
  margin-right: 10px;
  width: 25%;
  display: flex;
  justify-content: center;
}
.company-card__logo img {
  width: 100%;
  height: 160px;
  padding: 5px;
  object-fit: scale-down;
}
.company-card__info {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.company-card__info .company-card__info-subject {
  color: #888;
  vertical-align: top;
  width: 140px;
}
.company-card__info td {
  color: #222;
  font-size: 13px;
  padding: 4px 0;
}
.company-card__info-btn {
  margin-top: 20px;
}
.company-card__info-btn .company-card__btn-contact {
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #fdd001;
  line-height: 1.5;
  padding: 5px 15px;
  font-size: 14px;
  color: black;
  font-weight: 400;
  margin-right: 20px;
}
.company-card__info-btn i {
  padding: 5px;
}
.company-card__info-btn span {
  font-size: 14px;
  color: #1470cc;
  padding: 5px 15px;
}

.companies__sort {
  padding: 11px 0 10px 30px;
  border-bottom: 1px solid #e6ecf2;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.companies__sort span {
  font-size: 16px;
  margin-right: 10px;
  color: #555;
  font-weight: 700;
}
.companies__sort-links {
  border: 1px solid #EBECF0;
  padding: 5px 0px 5px 0;
}
.companies__sort-links a {
  padding: 5px 10px 5px 10px;
  border-right: 1px solid #EBECF0;
  color: #555;
}
.companies__sort-links a:hover {
  background-color: rgba(230, 236, 242, 0.5);
}

.detail-gallery__lightgallery {
  margin: 4px, 4px;
  padding: 4px;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}
.detail-gallery__lightgallery a {
  margin-right: 10px;
}
.detail-gallery__lightgallery a img {
  width: 20%;
}

.pagination-nav {
  background-color: #fff;
}
.pagination-nav .page-link {
  border: 0;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}
.pagination-nav .page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pagination-nav .page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.banner-gif img {
  margin-bottom: 10px;
  width: 100%;
}

.auth-header {
  border-bottom: 1px solid #e6ecf2;
}
.auth-header__content {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
.auth-header__content img {
  width: 20%;
}

#form {
  margin: 50px auto;
  width: 400px;
  padding: 45px 30px 15px;
  position: relative;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  background-color: #fff;
  height: 650px;
  overflow: hidden;
}
#form h1 {
  text-align: center;
}

#form #toggle-forms {
  position: absolute;
  top: 15px;
  right: 30px;
  border: 1px solid #fff;
  border-radius: 20px;
  overflow: hidden;
  z-index: 99;
}

#form #toggle-forms > button {
  cursor: pointer;
  background-color: rgba(5, 40, 94, 0.7);
  border: 1px solid #fff;
  color: #ddd;
  font-weight: 700;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px 30px;
}
#form #toggle-forms > button:first-of-type {
  border-right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#form #toggle-forms > button.active {
  background-color: #05285e;
  color: #fff;
}

#form form {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  transition: all 0.3s linear;
  z-index: 2;
}

.auth-login-form {
  padding: 180px 30px 15px;
}

.auth-register-form {
  padding: 80px 30px 15px;
}

.auth-form-agree {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
}
.auth-form-agree a {
  font-size: 14px;
}
.auth-form-agree a:hover {
  text-decoration: underline;
}

#form form:last-of-type {
  left: 100%;
}

#form.active form:first-of-type {
  left: -100% !important;
}

#form.active form:last-of-type {
  left: 0 !important;
}

@media (max-width: 767px) {
  #form {
    width: 290px !important;
  }
}
.auth-form {
  width: 100%;
  padding: 0 1em 1em 1em;
}
.auth-form .auth-input-group {
  display: block;
  position: relative;
  padding-bottom: 10px;
}
.auth-form .auth-input-group label {
  position: absolute;
  pointer-events: none;
  left: 0.5em;
  top: 0.7em;
  transition: 0.2s ease all;
  color: #ccc;
  width: 200px;
  font-size: 15px;
}
.auth-form .auth-input-group input {
  background-color: transparent;
  padding: 0.75em 1.5em 0.5em 1.5em;
  line-height: 1.5em;
  border: 0;
  display: block;
  width: 100%;
  margin-top: 20px;
  border-bottom: 1px solid #05285e;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #05285e 4%);
  background-color: rgba(230, 236, 242, 0.5);
  background-position: -100em 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-left: 0.5em;
  transition: 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) all;
}
.auth-form .auth-input-group input:focus, .auth-form .auth-input-group input:valid {
  background-position: 0 0;
}
.auth-form .auth-input-group input:focus ~ label, .auth-form .auth-input-group input:valid ~ label {
  color: #05285e;
  font-size: 12px;
  top: -1.3em;
}
.auth-form .auth-input-group input:focus {
  outline: none;
}
.auth-form p {
  display: block;
  font-size: 14px;
  padding-bottom: 10px;
}
.auth-form p i {
  color: #ed151d;
}
.auth-form button {
  cursor: pointer;
  margin-top: 40px;
  background-color: transparent;
  padding: 0.75em 1.5em;
  line-height: 1.5em;
  border: 0;
  background-color: #05285e;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.auth-form button:hover {
  background-color: rgba(5, 40, 94, 0.9);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

#auth-form-icon, #auth-form-ico, #auth-form-ic {
  cursor: pointer;
  position: absolute;
  top: 25%;
  right: 3%;
}

.footer-auth {
  bottom: 0;
  background-color: #333;
  color: #fff;
  line-height: 18px;
  padding: 8px 0;
  font-size: 12px;
  position: fixed;
  z-index: 1000;
  width: 100%;
}
.footer-auth__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-auth__content a {
  margin: 0 4px;
  color: #fff;
  font-size: 12px;
}
.footer-auth__content a:hover {
  text-decoration: underline;
}
.footer-auth__content span {
  margin-left: 10px;
}

.navbar-bottom {
  background-color: #fff;
  box-shadow: 0 1px 3px 0;
}
.navbar-bottom .navbar__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-bottom .navbar__link {
  width: 20%;
  display: flex;
  justify-content: center;
}
.navbar-bottom .navbar__link a {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.navbar-bottom .navbar__link a img {
  width: 30%;
  padding: 10px 0 10px 0;
}

.category {
  height: 1000px;
  padding: 20px 5px;
}
.category .col-category-item-1 {
  padding: 0 0 0 12px;
}
.category .col-category-item-2 {
  padding: 0 5px;
}
.category .col-category-item-3 {
  padding: 0 12px 0 0;
}
.category__item {
  width: 100%;
  margin: 0 0 15px 0;
}
.category__item .categories-btn {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: none;
  background-color: #fff;
  align-items: center;
  padding: 2px;
}
.category__item .categories-btn i {
  z-index: 2;
  font-size: 35px;
}
.category__item .categories-btn span {
  font-size: 12px;
  z-index: 2;
}
.category__item h5 {
  margin-left: 5px;
  font-size: 14px;
}
.category__item .modal-header {
  padding: 10px 10px;
  justify-content: start;
}
.category__item .modal-header .btn-close {
  padding: 0;
  margin: 0;
  background: 0;
}
.category__item .category-modal-body {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
.category__item .category-modal-body a {
  display: inline-block;
  padding: 10px 0;
  color: #555;
  border-bottom: 1px solid #e6ecf2;
}
.category__item .category-modal-body a:hover {
  color: #1470cc;
}

.companypage {
  margin-bottom: 50px;
}
.companypage .companypage-logo-col {
  padding: 0 5px 0 12px;
}
.companypage .companypage-content-col {
  padding: 0 12px 0 0;
}
.companypage-card {
  height: 200px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6ecf2;
  padding: 5px 5px;
}
.companypage-card__logo {
  height: 100px;
}
.companypage-card__logo img {
  width: 100%;
  object-fit: scale-down;
}
.companypage-card__content {
  display: flex;
  flex-direction: column;
}
.companypage-card__title h5 {
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.companypage-card__location {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}
.companypage-card__location i {
  color: #ed151d;
  margin-right: 5px;
}
.companypage-card__location span {
  font-size: 11px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.companypage-card__desc {
  padding-top: 5px;
}
.companypage-card__desc p {
  font-size: 11px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.footer {
  margin-top: 20px;
  background: #05285e;
  background-image: url("../images/karta-tm.png");
  width: 100%;
  height: 206px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
.footer__logo {
  height: 100%;
  align-content: center;
}
.footer__text {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-bottom: 20px;
}
.footer__text span {
  font-weight: 900;
  font-size: 50px;
}
.footer__text p {
  font-size: 25px;
  font-weight: 900;
}
.footer__get-app ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer__get-app ul li {
  width: 20%;
  margin-right: 10px;
}
.footer__get-app ul li img {
  object-fit: scale-down;
}
.footer__content {
  height: 206px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__info {
  width: 100%;
  color: #fff;
}
.footer__info h4 {
  margin-top: 20px;
  font-size: 18px;
}
.footer__info p {
  margin-top: 10px;
  font-size: 14px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}
.footer__info p i {
  margin-right: 10px;
}
.footer__info ul {
  columns: 2;
}
.footer__info ul li {
  padding: 5px 0;
}
.footer__info ul li a {
  font-size: 14px;
  color: #fff;
}
.footer__info ul li a:hover {
  text-decoration: underline;
}
.footer__info ul li i {
  margin-right: 10px;
}
.footer__links ul {
  display: flex;
  flex-direction: row;
}
.footer__links ul li a {
  color: #fff;
}
.footer__links ul li a:hover {
  text-decoration: underline;
}
.footer__links ul li span {
  color: #fff;
  margin: 0 10px;
}
.footer__bottom {
  padding: 1px 0 0 0;
  background: #042250;
}
.footer__bottom span {
  color: #fff;
  font-size: 13px;
}
.footer__bottom-links {
  display: none;
}
.footer__bottom-links ul {
  display: flex;
  flex-direction: row;
}
.footer__bottom-links ul li a {
  font-size: 13px;
  color: #fff;
}
.footer__bottom-links ul li a:hover {
  text-decoration: underline;
}
.footer__bottom-links ul li span {
  color: #fff;
  margin: 0 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #EBECF0;
  color: #09213A;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  color: #222;
}
a:hover {
  color: #1470cc;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media screen and (max-width: 1600px) {
  .footer__logo {
    margin-left: 30%;
  }
}
@media screen and (max-width: 1399px) {
  .footer__text span {
    font-size: 40px;
  }

  .footer__get-app ul li {
    width: 30%;
  }

  .footer__links {
    margin-left: 0;
  }

  .footer__text p {
    font-size: 20px;
  }

  .footer__logo {
    margin-left: 0;
  }

  .footer__info h4 {
    font-size: 15px;
  }

  .footer__info p, .footer__info ul li a {
    font-size: 13px;
  }

  .footer__links ul li a {
    font-size: 11px;
  }
}
@media screen and (max-width: 1350px) {
  .navbar__top .dropdown {
    padding-left: 0;
  }

  .company-info__links-phones {
    margin-right: 20px;
    font-size: 13px;
  }
}
@media screen and (max-width: 1199px) {
  .navbar__top .dropdown {
    padding-left: 75px;
  }

  .company-info__info h4 {
    font-size: 18px;
  }

  .company-detail__about h5, .company-detail__products h5, .company-detail__brochure h5, .company-detail__categories h5, .company-detail__business-segment h5, .detail__gallery h5, .company-detail__map h5 {
    font-size: 17px;
  }

  .company-detail__about p {
    font-size: 14px;
  }

  .company-detail__products li {
    font-size: 14px;
  }

  .company-detail__brochure a {
    font-size: 14px;
  }

  .company-detail__brochure a i {
    font-size: 17px;
  }

  .company-detail__categories li, .company-detail__business-segment li {
    font-size: 14px;
  }

  .footer__links {
    display: none;
  }

  .footer__bottom {
    padding: 3px 0;
  }

  .footer__bottom-links {
    display: flex;
    justify-content: flex-end;
  }

  .footer__text {
    text-align: center;
  }

  .footer__get-app ul li {
    width: 45%;
  }
}
@media screen and (max-width: 1150px) {
  .navbar__links ul li {
    margin-right: 8px;
  }

  .company-card__info-btn .company-card__btn-contact {
    font-size: 12px;
    margin-right: 0;
  }

  .company-card__info-btn span {
    font-size: 12px;
    padding: 0;
  }

  .product-card__logo img {
    padding: 10px;
  }
}
@media screen and (max-width: 1100px) {
  .navbar__top .dropdown {
    padding-left: 65px;
  }

  .company-info__logo {
    width: 40%;
  }

  .company-info__info p {
    font-size: 14px;
  }

  .company-info__links ul li a {
    font-size: 14px;
    font-weight: 400;
  }

  .company-info__links ul li a i {
    font-size: 17px;
  }

  .company-info__links-phones {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1045px) {
  .navbar__links ul li a {
    font-size: 14px;
  }
}
@media screen and (max-width: 997px) {
  .navbar__top .dropdown {
    padding-left: 50px;
  }

  a {
    font-size: 12px;
  }

  .navbar-search__form button {
    font-size: 12px;
  }

  .navbar-search__form .nsi-remove {
    right: 22%;
    top: 28%;
    font-size: 16px;
  }

  .select {
    width: 100px;
  }
  .select .selectBtn {
    padding-left: 5px;
    font-size: 12px;
  }

  .navbar-search__form input {
    font-size: 12px;
    width: 59%;
  }

  .select .selectBtn:after {
    right: 5px;
  }

  .navbar__sign img {
    width: 35%;
  }

  .center .center__bottom-col a {
    font-size: 15px;
  }

  .leftbar {
    padding: 20px 0 0 10px;
  }

  .leftbar__item {
    padding: 5px 0 5px 0;
  }

  .leftbar__item .leftbar__item-content a {
    font-size: 12px;
  }

  .leftbar__item #more__dropdown-item {
    margin-left: 0;
  }

  .popular-companies__item a .popular-companies__name span, .popular-companies__item a .latest-companies__name span, .latest-companies__item a .popular-companies__name span, .latest-companies__item a .latest-companies__name span {
    font-size: 12px;
  }

  .countries__item a, .categories__item a, .business-segment__item a {
    padding: 10px 5px;
  }

  .categories-filter__home a {
    padding: 8px 5px 0 5px;
  }

  .categories-filter__sub a {
    padding: 5px 5px 5px 15px;
  }

  .countries__search input, .categories__search input, .business-segment__search input {
    margin: 10px 5px;
  }

  .home-title__style {
    font-size: 15px;
  }

  .categories-filter-btn-more i {
    font-size: 12px;
  }

  .company-card {
    padding: 10px 0;
    margin: 0 10px;
  }

  .company-card__info .company-card__info-subject {
    width: 25%;
  }

  .company-card__info-btn {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .company-card__info-btn .company-card__btn-contact {
    font-size: 12px;
    padding: 5px;
    margin-right: 5px;
    text-align: center;
  }

  .company-card__logo {
    width: 25%;
    margin-right: 0;
  }

  .company-card__info-btn span {
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
  }

  .categories-filter__home {
    padding: 5px;
  }

  .company-card__info td {
    font-size: 12px;
  }

  .company-card__name h4 {
    font-size: 16px;
  }

  .latest-leads__name span {
    width: 15%;
  }

  .lead-add .form-wizard .wizard-form-radio {
    font-size: 12px;
  }

  .lead-add .wizard-fieldset__done-text h5 {
    font-size: 16px;
  }
  .lead-add .wizard-fieldset__done-text p {
    font-size: 14px;
  }

  .select2-results__options {
    font-size: 12px;
  }

  .form-wizard {
    font-size: 12px;
  }

  .lead-rules__content ul li {
    font-size: 12px;
  }

  .lead-rules__content {
    padding: 10px;
  }

  .lead h3, .lead-last h3, .lead-rules h3 {
    font-size: 16px;
  }

  .lead-rules__title {
    padding: 10px;
    border-bottom: 1px solid #dbdbdb;
  }

  .lead__contact a {
    font-size: 14px;
  }

  .lead h3, .lead-last h3, .lead-rules h3 {
    font-size: 14px;
  }

  .lead__name-text h5 {
    font-size: 15px;
  }

  .lead-last__choose {
    font-size: 12px;
  }

  .lead-last__item a {
    font-size: 12px;
    padding: 5px 10px;
    line-height: 20px;
  }

  .lead-last__title {
    padding: 10px 10px 5px 10px;
  }

  .leadspage-title h2 {
    font-size: 14px;
  }

  .leadspage-title a {
    width: 30%;
    display: flex;
    justify-content: center;
    font-size: 12px;
  }

  .leadspage-title {
    padding: 10px;
  }

  .company-info__links ul li a i {
    margin-right: 3px;
    font-size: 15px;
  }

  .company-info__info p {
    font-size: 13px;
    line-height: 20px;
  }

  .company-info__info p i {
    font-size: 20px;
  }

  .company-info__links ul li a {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .company-info__links-phones {
    margin-right: 12px;
  }

  .company-detail__business-segment, .company-detail__categories {
    padding: 0 0 0 20px;
  }

  .product-card__logo {
    width: 40%;
  }

  .product-card__info {
    width: 60%;
  }

  .product-card__response h4 {
    font-size: 18px;
  }

  .product-card__location p, .product-card__location span {
    font-size: 13px;
  }

  .product-card__location p {
    margin-right: 10px;
  }

  .why-us__title h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 900px) {
  .navbar__top .dropdown {
    padding-left: 35px;
  }

  .footer__bottom span {
    font-size: 12px;
  }

  .footer__bottom-links ul li a {
    font-size: 12px;
  }

  .footer__text span {
    font-size: 30px;
  }

  .footer__text p {
    font-size: 15px;
  }

  .footer__info p, .footer__info ul li a {
    font-size: 11px;
  }

  .footer__info ul li i, .footer__info p i {
    margin-right: 3px;
  }
}
@media screen and (max-width: 815px) {
  .leftbar__item .leftbar__item-content a {
    font-size: 12px;
  }
}
@media screen and (max-width: 815px) {
  .leftbar__item .leftbar__item-content a {
    font-size: 12px;
  }
}