.navbar-top-row-scrolled
	display: none
.navbar
	&__top
		&-logo
			img
				// object-fit: scale-down
	&__more-btn
		button
			border: 0
			background: white
	&__search
		form
			input
				width: 100%
				font-size: 12px
				padding: 5px 5px 5px 20px
				border: 1px solid $text-color888
				border-radius: 12px
	
.main-header
	padding: 10px 0
	width: 100%
	display: flex
	justify-content: space-between
	align-self: center
	align-items: center
	z-index: 1000
	background-color: #fff
	transition: .4s ease-out
	.logo
		width: 220px
		img
			width: 88%
	.navbar_links
		display: flex
		list-style: none
		margin-right: 50px
		letter-spacing: 1px
		.navbar_link
			transition: opacity .4s ease-in-out, transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275)
			&:nth-of-type(2)
				transition-delay: .1s
			&:nth-of-type(3)
				transition-delay: .2s
			&:nth-of-type(4)
				transition-delay: .3s
			a
				margin: 3px 10px 3px 3px
				padding: 16px 8px
			a:hover
				background: rgba(255, 255, 255, 0.2)
	.menu-icon
		position: relative
		padding: 26px 10px
		cursor: pointer
		z-index: 1
		display: none
		&__line
			display: block
			position: relative
			background: #000
			height: 2px
			width: 20px
			border-radius: 4px
			transition: background .8s ease
			&::before, &::after
				content: ''
				position: absolute
				height: 100%
				width: 100%
				border-radius: 4px
				background: #000
				transition: background .8s ease
			&::before
				transform: translateY(-5px)
			&::after
				transform: translateY(5px)
	.menu-btn
		display: none
	&scrolled
		background: $white
		color: white
		.menu-icon
			&__line,
			&__line::before,
			&__line::after
				background: white

